html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
}

nav {
    display: flex;
    background-color: #ac1a17;
    justify-content: space-around;
    position: sticky;
    z-index: 1;
    top: 0;
}

.navbartop {
    width: 80%;
    display: flex;
    list-style: none;
    justify-content: space-between;
}

li a {
    padding: 30px;
    text-decoration: none;
    color: white;
    font-family: 'Aleo', serif;
    font-size: 1.2em;
    transition: all .2s;
}

a:hover {
    color: black;
}

.navbarsocial {
    width: 20%;
    padding-right: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navbarsocial a {
    color: white;
    font-size: 2.8em;
    margin: 0 10%;
    transition: all .2s;
}

.navbarsocial a:hover {
    color: black;
}

.container {
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.topholder {
    font-family: 'Aleo', serif;
    font-size: 2.8em;
    display: flex;
    justify-content: center;
}

.menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.title {
    font-family: 'Aleo', serif;
    font-size: 1.8em;
    color: #fda100;
    border-bottom: solid #ac1a17;
}


.secdesc {
    font-size: 1.1em;
}

.container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.main {
    margin: 20px 40px;
}

.header {
    margin: 20px 0;
}

.toppingssec {
    margin: 20px 0 0 0;
    padding: 10px;
    background-color: #fda100;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.toppingsholder {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    color: black;
}

#toppings {
    font-size: 1.2em;
    color: black;
    border: none;
}

.free, .extra {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.free ul, .extra ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.subtitle {
    margin-bottom: 5px;
    color: #ac1a17;
    font-size: 1.2em;
}

.stock {
    width: 425px;
    margin-bottom: 20px;
    font-size: 1.2em;
}

.item {
    display: flex;
    justify-content: space-between;
}

.itemname {
    font-family: 'Aleo', serif;
}

.iteminfo {
    font-size: .8em;
}